@model Ultrapack77mvc.Models.Category

<form method="post" asp-action="DeletePost" >
    <input asp-for="IsMasterCategory" name="False" id="masterCheckValue" hidden />
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info p-lg-3">Удалить категорию</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="IsMasterCategory" value="True" id="isMasterCategory" disabled>
                    <label class="form-check-label" for="isMasterCategory">
                        Главная категория
                    </label>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-control"/>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Description" disabled class="form-control" disabled/>
                     </div>
                </div>

                <div class="form-group row" id="ismaster">
                    <div class="col-4">
                        <label asp-for="MasterCategoryName"></label>
                    </div>
                    <div class="col-8">
                         <input asp-for="MasterCategoryName" disabled class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Удалить" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
                            }