@model IEnumerable<Ultrapack77mvc.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список категорий</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Создать категорию
            </a> 
        </div>
    </div>

@if(Model.Count()>0)
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Название категории
                </th>
                <th>
                    Описание категории
                </th>
                <th>
                    Родительская категория
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if(item.SubCategoryName is not null){
                <tr>
                <td width="30%">@item.Name</td>
                 <td width="20%">@item.Description</td> 
                 <td width="20%">@item.SubCategoryName</td>
                 <td></td>
            </tr>
            }
            }
        </tbody>
    </table>
}
else{
    <p>Категорий пока нет</p>
}
</div>