@using Ultrapack77mvc
@model Ultrapack77mvc.Models.Product

<form method="post" asp-action="DeletePost" enctype="multipart/form-data">

    <input asp-for="Id" hidden />

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info p-lg-3">Удалить товар</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-control" />

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" disabled class="form-control summernote"></textarea>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RetailPrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="RetailPrice" disabled class="form-control" />

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PurchasePrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PurchasePrice" disabled class="form-control" />

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <input  asp-for="CategoryId" disabled class="form-control" />
                                
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                               
                            <button type="submit" class="btn btn-danger w-100" >Удалить</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
                @if (Model.Id != 0)
                {
                    <img src="@WebConstants.ProductImagePath@Model.Image"
                     width="100%" style="border-radius:5px;border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
<script>
        $(document).ready(function() {
            $('.summernote').summernote({
                height:200,
                lang:'ru-RU',
                disable,
                toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
            });
    });
</script>
}